.list{
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #484848;
    
}
li:hover{
    color:red;

}
.btn{
    padding: 4%;
    border: 1px solid black;

}
.mass:hover{
    color: red;
}